
# osx
.DS_Store
.Trash/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.IdentityService/
.ServiceHub/
.aws/
.config/NuGet/
.config/git/
.config/stetic/
.config/thefuck/
.config/xbuild/
.cups/
.docker/
.gradle/
.idea-build/
.ivy2/
.m2/
.nuget/
.passwd-s3fs
.psql_history
.rediscli_history
.sbt/
.scala_history
.templateengine/
.terraform.d/

# *nix
!.ssh/config
.PyCharm50/restart/restarter
.Skype/
.bash_history
.bash_sessions/
.bcast/
.cache/
.config/configstore/update-notifier-bower.json
.config/mc/
.gate
.gate.session
.gate.xml
.gem/
.gitconfig
.gitlab-runner/config.toml
.gksu.lock
.gradle/caches/
.gradle/native/
.gradle/wrapper/
.ipython/
.karaf/
.lesshst
.local/share/
.m2/repository/
.matplotlib/
.matplotlib/fontList.py3k.cache
.matplotlib/tex.cache
.mozilla/
.npm/
.oracle_jre_usage/
.password-store
.python-eggs/
.python_history
.sdkman/
.sqlite_history
.sqlworkbench/
.ssh/
.vim/.netrwhist
.viminfo
CytoscapeConfiguration/
cache/
dotfiles/
gocode/

# generic personal stuff
keyring/
store/

# on Matura
.ICEauthority
.PyCharm2016.1/
.Xauthority
.abevjava/
.avidemux/
.config/IJHack/
.config/Skype for Linux/
.config/Trolltech.conf
.config/configstore/bower-github.json
.config/dconf/
.config/enchant/
.config/epiphany/
.config/evolution/
.config/gconf/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/icedtea-web/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/pulseaudio-ctl/
.config/terminator/
.config/vlc/
.esd_auth
.gimp-2.8/
.gnome/
.gnome2/
.gnupg/
.java/
.local/
.mysql_history
.pki/
.profabevjava
.squirrel-sql/
.swp
.thumbnails/
abevjava/
abevjava_takdavid.log
face.jpeg

# project specific stuff
.CRON_WAS_HERE
.CRON_WAS_HERE_2
FirmNetOnline/
challenge1/
django-dynamic-scraper/
facebook-downloader/
feszek/
geeknote/
generic-crawlers/
google-search-tools/
hiring/
infra2web/
itweet-sentiment/
jnj-author-disambiguation/
jnj-pipeline/
langdeath2/
maven7.png
mavenwp_logo_130.png
minimy/
new-facebook-downloader/
nltk_data/
nyprimary/
orgmapper.com/
package-query/
phpfacebook/
quntoken/
sentiment_module_io_files/
telecom_italia/
try/
tweetids_2016_jan_28.csv
tweetids__jan28_mar2
tweetids__mar2_mar29
twitter-dashboard/
uber/
usprimaries/
usprimaries_data/
yelp_leszedes/

