.gitignore

# osx
.DS_Store
.Trash/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

# *nix
.bash_history
.bash_sessions/
.cache/
.oracle_jre_usage/
.python_history
.sqlite_history
cache/
dotfiles/
.viminfo
.vim/.netrwhist
.PyCharm50/restart/restarter
.gate.session
.gate.xml
.config/configstore/update-notifier-bower.json
.gate
.gitconfig
.gitlab-runner/config.toml
.gradle/caches/
.gradle/native/
.gradle/wrapper/
.local/share/
.ssh/
!.ssh/config
.config/mc/
.lesshst
.m2/repository/
.matplotlib/fontList.py3k.cache .matplotlib/tex.cache
.ipython/
.matplotlib/
.npm/
.sdkman/
.sqlworkbench/
.password-store

# generic personal stuff
keyring/
store/

# on Matura
.ICEauthority
.PyCharm2016.1/
.Xauthority
.abevjava/
.avidemux/
.config/IJHack/
.config/Skype for Linux/
.config/Trolltech.conf
.config/configstore/bower-github.json
.config/dconf/
.config/enchant/
.config/epiphany/
.config/evolution/
.config/gconf/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/icedtea-web/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pulse/
.config/pulseaudio-ctl/
.config/terminator/
.config/vlc/
.esd_auth
.gimp-2.8/
.gnome/
.gnome2/
.gnupg/
.java/
.local/
.mysql_history
.pki/
.profabevjava
.squirrel-sql/
.swp
.thumbnails/
abevjava/
abevjava_takdavid.log
face.jpeg

# project specific stuff
FirmNetOnline/
challenge1/
jnj-author-disambiguation/
langdeath2/
maven7.png
mavenwp_logo_130.png
minimy/
new-facebook-downloader/
nltk_data/
nyprimary/
orgmapper.com/
package-query/
sentiment_module_io_files/
telecom_italia/
try/
tweetids_2016_jan_28.csv
tweetids__jan28_mar2
tweetids__mar2_mar29
