.gitignore

# osx
.DS_Store
.Trash/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

# *nix
.bash_history
.bash_sessions/
.cache/
.oracle_jre_usage/
.python_history
.sqlite_history
cache/
dotfiles/
.viminfo
.vim/.netrwhist
.PyCharm50/restart/restarter
.gate.session
.gate.xml
.config/configstore/update-notifier-bower.json
.gate
.gitconfig
.gitlab-runner/config.toml
.gradle/caches/
.gradle/native/
.gradle/wrapper/
.local/share/
.ssh/
!.ssh/config
.config/mc/
.lesshst
.m2/repository/
.matplotlib/fontList.py3k.cache .matplotlib/tex.cache
.ipython/
.matplotlib/
.npm/
.sdkman/
.sqlworkbench/
